.projectContainer {
    display: flex;
    margin-top: 10em;
}

.projectFrame{
    background-color: blue;
    border: medium solid black;
    height: 700px;
    width: 350px;
    /* transform: skew(-15deg); */
    margin: 0 2.5em;
    position: relative;
    z-index: 1;
}

.projectContent {
    /* transform: translate(100px, 350px); */
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    position: absolute;
    z-index: 2;
    
}

.projectFrame > img {
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.projectFrame >img::after {

}

#project1 {
    margin-left: 6em;
}